<div class="container">
    <h1>Create Event</h1>
    <hr>
    <form method="POST" action="/event/create"></form>

    <label>Title
        <input name="title" type="text">
    </label>
    <br><br>

    <label>Date
        <input name="date" type="text" placeholder="DD-MM-YYYY">
    </label>
    <br><br>

    <label>Latitude
        <input name="latitude" type="text">
    </label>
    <br><br>

    <label>Longitude
        <input name="longitude" type="text">
    </label>
    <br><br>

    <input type="submit" value="Create a new place">


</div>