<h2> List of Events</h2>

<ul>

    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card">{{title}}</h3>
                <p class="card">Date: {{date}}</p>




                <a href="/??????/????{{_id}}">Edit</a>
            </div>
        </div>
        <form action="/????delete/?????{{id}}" method="post">
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>


</ul>