<div class="container">
    <h1>Events</h1>
    <hr>
    <figure id="myMap"></figure>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?callback=init&key=AIzaSyDeDG5bXfBVk0tKSEPx5uRyzC6TcyNQIig"></script>

<script src="/js/event-map.js"></script>