<h1>{{appTitle}} 🌵</h1>
<p> Plant Lovers </p>

<nav>
    <a href="/???????????"> Create your User </a> {{!-- ////////// Corregir --}}
</nav>

<nav>
    <a href="/???????????"> More information </a> {{!-- ////////// Corregir --}}
</nav>