<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each user}}
        <ul>
            <li>
                <h5>{{username}}</h5>
                <h5>{{myPlants}}</h5>
                <h5>{{Events}}</h5>
                <button>
                    <a href="/user/{{_id}}"> Explore the profile </href> </button>
            </li>
        </ul>


    </div>

</div>
</div>
{{/each}}
</div>
</div>