<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Nickname </th>
                        <th>Email</th>
                        <th> My Garden</th>
                        <th>My Events </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{nickname}}</td>
                        <td>{{email}}</td>
                        <td>....</td>
                        <td>.....</td>
                        <td>
                            <form action="/user/details/{{_id}}">
                                <button class="btn btn-primary" style="background-color: rgb(157, 101, 157);">
                                    Explore Profile
                                </button>
                            </form>




                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>