body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(./../images/3402365.jpg);
  background-size: cover;
  background-position: center;
}




#myMap {
  height: 400px;
  background-color: red;
}