<h1> Lista de lugares</h1>
<hr>

{{#each places}}
<p><strong> Nombre del lugar:</strong>{{name}}</p>

<a href="/events/details/{{id}}"> Detalles</a>


{{/each}}



<hr>


<a href="/places/placemap"> view events Map</a>



<a href="/places/create"> Crear</a>


</div>